<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="uStatus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="iStatus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="uStatus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <uStatus.Properties.Settings>
            <setting name="LastWindowPointX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastWindowPointY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastWindowTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UToken" serializeAs="String">
                <value />
            </setting>
            <setting name="USecret" serializeAs="String">
                <value />
            </setting>
        </uStatus.Properties.Settings>
        <iStatus.Properties.Settings>
            <setting name="LastWindowPointX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastWindowPointY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastWindowTopMost" serializeAs="String">
                <value>False</value>
            </setting>
        </iStatus.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <uStatus.Properties.Settings>
            <setting name="CKey" serializeAs="String">
                <value>KEAl6vnbFNkVFvXc1a60QQ</value>
            </setting>
            <setting name="CSecret" serializeAs="String">
                <value>HoKCzoIRjGQmoo9Wj60RwHkMJACC0DhEMN0ljw5WHA</value>
            </setting>
        </uStatus.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
